#Visual Studio Code
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
release_build/

# PKGBUILD
distro/arch/pkg/
distro/arch/src/
distro/arch/*.tar.gz
distro/arch/*.tar.zst